extends ../template

block variables
    -var title = 'Обо мне'
    - 
        var skillsList = [
            {
            skillsGroup: "Frontend", 
            skills: [["HTML5","80"], ["CSS3","60"], ["JavaScript & jQuery","40"]]
            },
            {
            skillsGroup: "Backend", 
            skills: [["PHP","25"], ["MySQL","30"], ["Node.js & npm","40"], ["Mongo.db","30"]]
            },
            {
            skillsGroup: "WorkFlow", 
            skills: [["Git","50"], ["Gulp","60"], ["Bower","40"], ["Webpack","20"]]
            }
        ]
    -
        var contactsList = [
            {
            type: "skype", 
            contact: "humming-bird7",
            svg: "skype",
            link: "skype:humming-bird7"
            },
            {
            type: "email", 
            contact: "morozovaey@gmail.com",
            svg: "envelope",
            link: "mailto:morozovaey@gmail.com"
            },
            {
            type: "phone", 
            contact: "+7 (916) 412 07 02",
            svg: "phone",
            link: "tel:89164120702"
            },
            {
            type: "address", 
            contact: "г. Москва, район Аэропорт",
            svg: "map_marker",
            link: "https://www.google.ru/maps/place/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B5%D1%8F+%D0%90%D1%8D%D1%80%D0%BE%D0%BF%D0%BE%D1%80%D1%82/@55.800155,37.5321896,15z/data=!4m8!1m2!2m1!1z0JDRjdGA0L7Qv9C-0YDRgg!3m4!1s0x0:0xabe0a8166d18b2fc!8m2!3d55.8017378!4d37.531853"
            },          
        ]

block content
    .wrapper
        include ../common/header.pug
        main.main.main--about
            include ../common/hero.pug
            svg.triangles.triangles--about(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1200 108" preserveaspectratio="none")
                polygon.triangle__left(points="0,0 0,108 601,108 601,105")
                polygon.triangle__right(points="1200,0 1200,108 599,108 599,105")
            section.section.content.content--about
                .about
                    .about__content
                        .title__wrapper
                            h1.title.title--about Обо мне
                            svg.title__bg.title__bg--about
                                use(xlink:href="img/icons/symbol/sprite.svg#about_header")
                        .about__details
                            .about__photo
                                img.about__img(src='img/content/My_image.jpg')
                            h2.subtitle--about.subtitle Кто я
                            span.about__text.text
                                p Меня зовут Морозова Евгения. Я занимаюсь веб-разработкой — создаю сайты и помогаю хорошим компаниям развиваться, позиционировать себя и привлекать целевую аудиторию. В наше время сайт – это лицо и часть имиджа компании. И я за то, чтобы компании, создающие классные продукты и услуги имели достойный имидж, процветали и развивались. 
                                p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Я люблю постоянно совершенствовать свои знания и навыки, создавать интересные технологичные современные сайты.
                .skills
                    .skills__content
                        h2.subtitle.subtitle--skills Чем я могу быть вам полезна
                        span.skills__text.text
                            p Меня очень привлекет Frontend разработка, а также я могу решать некоторые задачи на Backend. Мои знания и навыки лучше всего охарактеризуют небольшие диагаммы ниже.
                        ul.skills__list
                            each item in skillsList
                                li.skills__group 
                                    .skills__group-title #{item.skillsGroup}
                                    ul.skills__details
                                        each skill in item.skills
                                            li.skill 
                                                svg.skill__circle.circle(viewbox="0 0 110 110")
                                                    circle.circle__first(r="45" cx="50%" cy="50%")
                                                    circle.circle__second(r="45" cx="50%" cy="50%" data-circle=`${skill[1]}`)
                                                .skill__title #{skill[0]}
            section.section.map
                .map__img#map
                .contacts
                    h2.subtitle.subtitle--contacts Контакты
                    ul.contacts__list
                        each item in contactsList
                            li.contacts__item(class=`contacts__item--${item.type}`) 
                                svg.contacts__icon
                                    use(xlink:href=`img/icons/symbol/sprite.svg#${item.svg}`)
                                a.contacts__link(href=`${item.link}`) #{item.contact}
        include ../common/footer.pug
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8yfmr5iCoJlQlgOHbQxy473Yb7sja91U&callback=initMap" async defer)

